[Unit]
Description=Setup alsa card(s).
Before=jack.service

[Service]
Type=oneshot
ExecStart=%E/systemd/bin/alsa-setup

[Install]
WantedBy=sound.target
