[Unit]
Description=ALSA card(s) setup
Before=jack.service

[Service]
Type=oneshot
ExecStart=%E/systemd/bin/alsa-setup

[Install]
WantedBy=sound.target
