[Unit]
Description=Audio hardware setup, runs before dbus, jack, pulse.
Documentation=man:systemd.special(7)
Wants=environment.target alsa-setup.service

[Install]
WantedBy=sound.target
