[Unit]
Description=Compton Compositor for X11 Display %I
Wants=X11@.target
After=X11@.target
PartOf=xsession@.target

[Service]
ExecStart=/usr/bin/compton --config "%E/compton/compton.conf"

[Install]
Alias=xcompositor@.service
