[Unit]
Description=Compton Compositor for X11 Display %I
After=X11@%i.target
PartOf=xsession@%i.target

[Service]
ExecStart=/usr/bin/compton --config "%E/compton/compton.conf"

[Install]
Alias=xcompositor@.service
