[Unit]
Description=Generation of user environment variables in ~/.profile.env
                       
[Service]
Type=oneshot
ExecStart=%E/systemd/bin/update-env
RemainAfterExit=true

[Install]
WantedBy=environment.target
