[Unit]
Description=JACK 2 Sound Daemon
Requires=dbus.socket
Wants=alsa-setup.service
After=alsa-setup.service

[Service]
Type=dbus
BusName=org.jackaudio.Controller
ExecStartPre=%E/systemd/user-environment-generators/jack-environment-generator --export
ExecStart=/usr/bin/jack_control start
ExecStop=/usr/bin/jack_control stop
ExecStopPost=/usr/bin/pkill -9 jackdbus
SuccessExitStatus=0
RemainAfterExit=true
#Restart=always
#RestartSec=5

[Install]
WantedBy=sound.target
