[Unit]
Description=Jack playback ports to ALSA card %I via zita-ajbridge
Requires=environment.target
BindsTo=jack.service
After=jack.service

[Service]
ExecStartPre=/bin/sh -c '/usr/bin/jack_wait -w -t 5 >/dev/null 2>&1'
ExecStart=/usr/bin/zita-j2a -j "%I" -d "%I" -c 2 -r ${JACK_RATE} -p ${JACK_PERIOD} -n ${JACK_NPERIODS} 

[Install]
WantedBy=sound.target
