[Unit]
Description=Bridge ALSA card %I to JACK via zita-ajbridge
Requires=environment.target
BindsTo=jack.service
After=jack.service

[Service]
Environment=ALSA_DEVICE="%I"
Environment=JACK_NAME="%I"
Environment=INPUT_CHANNELS=0 INPUT_LATENCY=0 
EnvironmentFile=-%E/alsa/%I.conf
EnvironmentFile=-%E/alsa/%I-in.conf
ExecStartPre=/bin/sh -c 'sleep 2; /usr/bin/jack_wait -w -t 5 >/dev/null 2>&1'
ExecStart=/bin/sh -c 'exec /usr/bin/zita-a2j -d "${ALSA_DEVICE}" -j "${JACK_NAME}-in" -c ${INPUT_CHANNELS} -I ${INPUT_LATENCY} -r $${RATE:-$${JACK_RATE}} -p $${PERIOD:-$${JACK_PERIOD}} -n $${NPERIODS:-$${JACK_NPERIODS}}'
ExecStartPost=-/bin/sh -c 'sleep 2; for p in ${JACK_IN_CONNECTIONS}; do jack_connect "${JACK_NAME}-in":"$$(echo $$p | sed -e "s,/.*,," )" "$$(echo $$p | sed -e "s,.*/,," )" ; done'

[Install]
WantedBy=sound.target
