[Unit]
Description=JACK 2 Sound Daemon
Requires=dbus.socket
After=alsa-setup.service
After=pulseaudio.service

[Service]
Type=dbus
BusName=org.jackaudio.Controller
ExecStartPre=%E/systemd/bin/jack-env %E/jack/conf.env
ExecStart=/usr/bin/jack_control start
ExecStop=/usr/bin/jack_control stop
ExecStopPost=/usr/bin/pkill -9 jackdbus
ExecStopPost=/bin/rm -f %E/jack/conf.env
SuccessExitStatus=0
RemainAfterExit=true
#Restart=always
#RestartSec=5

[Install]
WantedBy=default.target
