[Unit]
Description=Open jack capture ports to ALSA card %I via zita-ajbridge
BindsTo=jack.service
After=jack.service

[Service]
ExecStart=/usr/bin/zita-a2j -j "%I" -d "%I" -c 2 -r ${JACK_RATE} -p ${JACK_PERIOD} -n ${JACK_NPERIODS}

[Install]
WantedBy=default.target
