[Unit]
Description=Generate the environment for jack dependent services.
After=alsa-setup.service

[Service]
Type=oneshot
ExecStart=%E/systemd/bin/jack-env --export

[Install]
WantedBy=default.target
