[Unit]
Description=Terminal multiplexer
Documentation=info:screen man:screen(1) man:tmux(1)
Wants=enironment.target
After=environment.target

[Install]
WantedBy=user-session.target
