[Unit]
Description=Nvidia graphic card(s) setup
Documentation=man:nvidia-settings(1)
Wants=xdisplay@.service
After=xdisplay@.service

[Service]
Type=oneshot
ExecStart=/usr/bin/nvidia-settings --load-config-only
SyslogIdentifier=nvidia

[Install]
WantedBy=X11@.target
