[Unit]
Description=Stump Window Manager on X11 Display %I
Wants=X11@.target
After=X11@.target
PartOf=xsession@.target

[Service]
ExecStart=%h/src/lisp/stumpwm/stumpwm
ExecStopPost=/bin/systemctl --user stop xsession@%i.target
Restart=on-failure

[Install]
Alias=window-manager@.service
