[Unit]
Description=Fluidsynth with %I soundfont
Requires=jack.service
After=jack.service
 
[Service]
Type=simple
# Configure path to your soundfonts
Environment=SOUNDFONT=${AUDIO_LIB}/soundfonts/%I.sf2
ExecStart=/usr/bin/fluidsynth --server --no-shell --audio-driver=jack --midi-driver=jack --sample-rate=${JACK_RATE} --audio-bufsize=${JACK_PERIOD} --audio-bufcount=${JACK_NPERIODS} --connect-jack-outputs --gain 1 ${SOUNDFONT}
 
[Install]
WantedBy=default.target