# This is the main target for a user session.
# You need make a symlink to this file named default.target, so
# the services you enable from /usr/lib/systemd/user, which normally require
# default.target, get activated.

[Unit]
Description=User Session
Documentation=man:systemd.special(7)
Requires=sound.target
After=sound.target
AllowIsolate=yes
