[Unit]
Description=X11 Display %I
BindsTo=graphical-session.target
Wants=xdisplay@.service xresources@.service xset@.service xkb@.service
Wants=xrdb-set-dpi@.service

[Install]
WantedBy=xsession@.target
