[Unit]
Description=X Compositor for X11 Display %I
Wants=X11@.target
After=X11@.target
PartOf=xsession@.target

[Service]
ExecStart=xcompmgr -fF

[Install]
Alias=xcompositor@.service
