[Unit]
Description=setting the DISPLAY environment variable to %I

[Service]
Type=oneshot
Environment=DISPLAY="%I"
ExecStart=/bin/systemctl --user import-environment DISPLAY
SyslogIdentifier=xdisplay

[Install]
WantedBy=X11@.target
