[Unit]
Description=setting the correct DPI on X11 Display %I
Documentation=man:xrdb(1)
Wants=xdisplay@.service
After=xdisplay@.service

[Service]
Type=oneshot
ExecStart=/usr/bin/env flock %t/x11-xrdb@%I -c %E/systemd/bin/xrdb-set-dpi
SyslogIdentifier=xrdb-set-dpi

[Install]
WantedBy=X11@.target
