[Unit]
Description=loading of resources on X11 Display %I
Documentation=man:xrdb(1)
After=xdisplay@%i.service

[Service]
Type=oneshot
ExecStart=/usr/bin/env flock %t/x11-xrdb@%I -c 'xrdb -merge %E/X11/resources; ( test -f %E/X11/resources@%I && xrdb -merge %E/X11/resources@%I ) || /bin/true'
SyslogIdentifier=xrdb

[Install]
WantedBy=X11@%i.target
