[Unit]
Description=setting parameters on X11 Display %I
Documentation=man:xset(1) man:xsetroot(1)
After=xdisplay@%i.service

[Service]
Type=oneshot
Environment=MOUSE_CURSOR_NAME=left_ptr MOUSE_RATE=3/2 MOUSE_THRESHOLD=8
EnvironmentFile=-%E/X11/settings
EnvironmentFile=-%E/X11/settings@%I
ExecStart=/usr/bin/xsetroot -cursor_name ${MOUSE_CURSOR_NAME}
ExecStart=/usr/bin/xset m ${MOUSE_RATE} ${MOUSE_THRESHOLD}
SyslogIdentifier=xset

[Install]
WantedBy=X11@%i.target
